.top_box{

height: 20rem;
background-color:#126bf1;
}

.center_box{

    position: absolute;
    top: 120px;
    left: 45%;
    margin-top: 130px;
    right: 50%;
    width: 150px;
    height: 200px;
    background-color: rgb(25, 46, 87);
border-radius: 10px;

}

.down_box{
    height: 20rem;
background-color: rgb(255, 255, 255);


}

@media screen and (max-width: 768px) {
    .top_box {
      height: 15rem;
    }
  
    .center_box {
      width: 120px;
      height: 160px;
      top: 100px;
    }
  
    .down_box {
      min-height: 15rem;
    }
  }